:host {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left-side {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &-avatar {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    border-radius: 50%;
  }
}
