@import "../../assets/styles/default-styles";

:host {

}

.container {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  @include flex($justify-c: flex-start, $flex-dir: column);
}

.sidenav-content {
  //@include flex($justify-c: flex-start, $flex-dir: column);
  //height: 100%;
  //min-height: 100%;
}

.sidenav {
  &-item {
    cursor: pointer !important;
    padding: 0 42px;
  }
}
