<div class="wish-list">
  <div class="wish-list__header default-paddings">
    <h1>New item</h1>
    <h3>Add a new item to your wishlist. Type the product name.</h3>
  </div>
  <div class="wish-list__content default-container default-paddings">
    <form class="example-form">
      <mat-form-field class="example-full-width" [formGroup]="createWish">
        <input matInput placeholder="Product name" [formControlName]="'title'">
        <mat-error *ngIf="createWish.controls.title.hasError('required')">
          Product name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="example-form__buttons">
        <button color="accent"
                mat-raised-button
                type="button">Back</button>
        <button color="primary"
                type="button"
                mat-raised-button
                (click)="onFormSubmit()"
        >Continue</button>
      </div>
    </form>
  </div>
</div>
