@import "../../../../../assets/styles/default-styles";

:host {
  width: 100%;
}

.wish-list {
  @include flex($justify-c: flex-start, $flex-dir: column);

  &__content {
    @include flex($align-i: flex-start, $flex-dir: column);
    padding: 0 20px;
    gap: 20px;
  }

  &__header {
    width: 100%;
    background: $primary-blue;
    box-sizing: border-box;
    margin-bottom: 20px;

    h1, h3 {
      margin: 0;
    }

    h1{
      color: $primary-white;
      font-weight: 500;
    }

    h3 {
      color: $secondary-white;
    }
  }

  &__grid {
    @include flex($align-i: flex-start, $justify-c: flex-start);
    flex-wrap: wrap;
    gap: 20px;

    &-item {
      width: 225px;
      height: 225px;
      border-radius: 6px;
      background: $primary-blue;
    }
  }
}
