@import "../../../assets/styles/default-styles";

:host {
  width: 100%;
}

.wish-list {
  &__grid {
    &-item {
      width: 225px;
      height: 225px;
      border-radius: 6px;
      background: aqua;
    }
  }
}
